* {
  box-sizing: border-box;
}
body {
  background-color: #e6edef;
  padding: 2rem;
  gap: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  font-size: 1.5rem;
}
.userCardCont1 {
  max-width: 22rem;
  min-width: 18rem;
  width: 100%;
  background-color: #fff9f9;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 3px 5px grey;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.userCardCont1:hover{
    background-color: #f8e4e4;
}
.imageWrapper1 {
  width: 11rem;
  height: 11rem;
  background-image: url(/assets/images/user1.jpg);
  overflow: hidden;
  background-size: cover;
  background-position: center 25%;
  border-radius: 50%;
  margin: 1rem;
}
.userName1 {
  color: #515b34;
}
.userJob1 {
  color: #d97961;
  font-weight: bold;
}
.contactUser1 {
  color: #515b34;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
.line {
  align-self: stretch;
  background-color: #515b34;
  height: 1px;
  margin: 0.45rem 0;
}
.aboutUser1 {
  padding: 1rem 0;
}
.iconWrapper1 {
  display: flex;
  justify-content: space-around;
  width: 60%;
  font-size: 1.3rem;
}
.socialLink1 {
  border: 1.5px solid black;
  border-radius: 50%;
  padding: 5px;
  width: 1.9rem;
  height: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #343132;
  overflow: hidden;
}
.socialLink1:hover{
    cursor: pointer;
    background-color: #d7d0d3;
}
.socialLink1:active{
    color:gold;
    background-color: #3c0417;
}
.socialLink1:first-of-type i{
  margin-bottom: -10px;
  font-size: 1.5rem;
}
.btnWrapper1{
    align-self: stretch;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.btn1{
    color: #e6edef;
    padding: 10px;
    width:100%
}
.btn1:hover{
    background-color: #832a47;
}
.btn1:active{
    color:gold;
    background-color: #3c0417;
}
.btnUser11{
    background-color: #806f51;
}
.btnUser12{
    background-color: #d97961;
}
.userCardCont2 {
  max-width: 22rem;
  min-width: 18rem;
  width: 100%;
  background-color: #fff9f9;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 2px grey;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.userCardCont2:hover{
    box-shadow: 0 1rem 1rem rgb(186, 186, 186);
}